body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4%;
  padding-bottom: 20%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.movie {
  min-width: 100%;
}

.card .card-image img {
  width: 315px;
  height: 534px;
}

.placeForPreloader {
  text-align: center;
  padding: 19%;
}

.searchPlace {
  display: flex;
  padding-right: 26%;
  padding-top: 1%;
  margin-left: 28%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.card {
  height: 685px;
}

.radios {
  text-align: center;
}

label {
  padding-right: 1%;
}

.empty {
  text-align: center;
  padding-top: 2%;
}